@font-face {
    font-family: 'Abril Fatface Regular';
    font-style: normal;
    font-weight: normal;
    src: local('Abril Fatface Regular'), url('AbrilFatface-Regular.woff') format('woff');
}

h1 {
    font-family: 'Abril Fatface Regular';
    font-weight: 200;
    font-size: 20px;
    color: mediumslateblue;
}